.container {
    border:black solid 1px;
    margin: 10px;
    padding:10px;
    background-color: grey;
    width: 150px;
    height: 150px;
    display: table;
    text-align: center;
    color: white;
    font-weight: bolder;
}


.title {
    background-color:grey;
    color: white;
    padding:20px;
  }
  